@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */
.custom-bg {
    background-color: floralwhite; /* Replace with your custom color */
    padding: 2rem;
    color: black;
    border-color:black;
    border-radius: 1rem;
  }

.btncreatenow{

  color:#ffa949;
}